@media screen and (max-width: 800px) {
  .navigation {
    flex-direction: column;
    margin-bottom: 23px;
  }

  .nav-left {
    flex-direction: column;
    text-align: center;
  }

  .content-left{
    font-size: medium;
  }
  .content-left h1{
    font-size:x-large;
  }
  
  .content-right {
    display: none;
  }

 
  .form-input {
    width: 50%;
  }
  .form-box input,
  textarea {
    width: 66vw;
  }
  
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }
}
