<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/utils.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/mobile.css" />
    <title>Sakkare</title>
  </head>

  <body>
    <nav class="navigation max-width-1 m-auto">
      <div class="nav-left">
        <a href="/">
          <span><img src="/static/images/logo.jpg" width="94px" alt="" /></span>
        </a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/login"><u><b>Login</b></u></a></li>
        
          <!-- <li><a href="/register">Register</a></li> -->
        </ul>
      </div>
      <div class="nav-right">
        
        <form action="/search" method="get">
          <input
            class="form-input"
            type="text"
            name="query"
            placeholder="Search"
          />
          <button class="btn">Search</button>
        </form>
      </div>
    </nav>
    <div class="max-width-1 m-auto">
      <hr />
    </div>
    <div class="m-auto content max-width-1 my-2">
      <div class="content-left">
        <h1>Sakkare-The only device you need</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus a
          velit inventore? Nulla eligendi dolor nemo, veritatis voluptatem
          pariatur officiis impedit expedita voluptate, a laboriosam, ullam
          deserunt earum. Doloremque, id?Lorem ipsum dolor sit amet consectetur 
          adipisicing elit. Eos numquam quisquam reiciendis? Tempora quod deserunt 
          nulla? Voluptas pariatur deserunt qui? Consectetur natus pariatur 
          nobis aspernatur quaerat recusandae labore veniam sunt?
        </p>
        <br>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus a
          velit inventore? Nulla eligendi dolor nemo, veritatis voluptatem
          pariatur officiis impedit expedita voluptate, a laboriosam, ullam
          deserunt earum. Doloremque, id?Lorem ipsum dolor sit amet consectetur 
          adipisicing elit. Eos numquam quisquam reiciendis? Tempora quod deserunt 
          nulla? Voluptas pariatur deserunt qui? Consectetur natus pariatur 
          nobis aspernatur quaerat recusandae labore veniam sunt?
        </p>
        <br>
        
      </div>
      <div class="content-right">
        <img src="/static/images/home.jpg" alt="Health Picture" />
      </div>
    </div>
      

    <div class="footer">
      <p>Copyright &copy; sakkare.com</p>
      
    </div>
  </body>
</html>
