<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/gif/png" href="/static/images/icon.png">
    <link rel="stylesheet" href="/static/css/utils.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/mobile.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Sakkare | Patient</title>
  </head>

  <body>
    <nav class="navigation max-width-1 m-auto">
      <div class="nav-left">
        <a href="/">
          <span><img src="/static/images/logo.jpg" width="94px" alt="" /></span>
        </a>
        <div class="navbar">
          <a href="/patient">Dashboard</a>
          <a href="/contact">Contact</a>
          <div class="dropdown">
            <button class="dropbtn">Profile
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Manage Profile</a>
              <a href="/logout">Sign Out</a>
            </div>
          </div> 
        </div>
      </div>
      <div class="nav-right">
        
        <form action="/search" method="get">
          <input
            class="form-input"
            type="text"
            name="query"
            placeholder="Search"
          />
          <button class="btn">Search</button>
        </form>
      </div>
    </nav>
    <div class="max-width-1 m-auto">
        <hr />
    </div>
    <div class="m-auto max-width-1 my-2">
      <div class="card">
        <img src="/static/images/patient-img.png" alt="John" style="width:70%">
        <h1>Mr Ramaswamy</h1>
        <p class="title">Retd. Product Manager</p><br>
        <p style="font-size: 20px;">Age : 69</p>
        <p style="font-size: 20px;">Gender  : Male</p>
        <p style="font-size: 20px;">Diabetes : Type 2</p>
        <p style="font-size: 20px;">Morbidities : None</p> <br><br>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </div>  
    </div>
    <table id="customers">
      <thead>
      <tr>
        <th>Time</th>
        <th>Glucose Level</th>
        <th>Condition</th>
      </tr>
      </thead>
      <tbody>
        {% for row in data %}    
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[3]}}</td>
            {% if float(row[3])<=120 %}
            <td>Normal</td>
            {% elif float(row[3])<=160 %}
            <td>Moderate</td>
            {% else %}
            <td>High</td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>

    </table> <br><br>
    <div class="footer">
      <p>Copyright &copy; <a href="https://sugar-safe.herokuapp.com/">sugar-safe.herokuapp.com</a></p>
      
    </div>
  </body>
</html>