<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" type="image/gif/png" href="{{url_for('static',filename='images/icon.png')}}"> -->
    <link rel="icon" type="image/gif/png" href="/static/images/icon.png">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.imgcheckbox.js"></script>
    <meta charset="UTF-8">
    <title>Sugar Safe | Register</title>
</head>
    <body>
        <span class="btn btn-primary"><a href="/" style="color: aliceblue;"> << Go Back Home </a> </span>
      <!-- main div -->
        <div class="container center-block">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 well">
              <h2 class="text-center"><em><u>Registration Form</u></em></h2>
              <h5 class="text-center">How do you identify yourself?</h5>
              <!-- div to select doctor/patient option -->
              <form action="{{ url_for('register') }}" method="POST" enctype="multipart/form-data">
  
                  <div class="text-center">
                      <div> Note: {{ msg }} </div>
                      <img name="doctor-img" id="doctor-img" src="/static/images/doctor-img.jpg"
                          alt="doctor image" height="180px" width="140px" onclick="$('img').imgCheckbox({ 'graySelected': false,'radio':true,'canDeselect':true });" required>
                          <span style="vertical-align: middle;"> OR</span>
                      <img name="patient-img" id="patient-img" src="/static/images/patient-img.png"
                          alt="" height="180px" width="140px" onclick="$('img').imgCheckbox({ 'graySelected': false,'radio':true,'canDeselect':true });" required>
                      <div class="text-center">
                          <span class="col-sm-6">Doctor</span>
                          <span class="col-sm-6">Patient</span>
                      </div>
                  </div>
                  <br><br>
                  <!-- div for Registration form -->
                  <div id=login-form>
                      <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Enter Your Full Name"></div>
                      <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Enter Your Email ID"></div>
                      <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Enter Password"></div>
                      <div class="form-group"><input class="form-control" type="password" name="rePassword" placeholder="Re-enter Password"></div>
                      <div class="form-group"><input class="form-control" type="text" name="morbidities" placeholder="Enter Morbidities, If Any"></div>

                      <button class="btn btn-primary btn-block" type="submit">Register</button>
                      <button class="btn btn-danger btn-block" type="reset">Reset</button>
                      <hr style="height: 2px;border: none;background-color: #aaa;">
                      <a href="{{url_for('login')}}" class="btn btn-success btn-block">Already have an Account ? Sign in here </a>
                  </div>
              </form>
          </div>
          <div class="col-sm-4"></div>
      </div>
  
  </body>
</html>